
<div class="row">

    <div class="col-2" style="text-align:bottom">
          Pick a start date  
    </div>
   <div class="col-4">

        <input (dateChange)="dateChange($event)" matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="date"></mat-datepicker>
    </div>

   <div class="col-3">
    <button (click)="refresh()"  type="button" class="btn btn-primary"> refresh </button>
   </div>

</div>

<div class="row">
 
      
    <div *ngFor="let p of product; let i = index" class="card col-4" style="width: 18rem;" 
        >
        <img class="card-img-top"   style="max-height:200px" src={{p.node.thumbnail.url}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> {{p.node.name}}</h5>
          <p class="card-text"> {{p.node.description.substring(0,60)}}... </p>
          <span class="text-muted">{{p.node.commentsCount}} comments</span>
        </div>
    </div>


</div>
 


 
